<div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <img src="../../../assets/rotating_card_thumb2.png" />
      </div>
      <div class="user">
        <img class="img-circle" [src]="selCandidat.avatar" />
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">{{ selCandidat.prenom }} {{ selCandidat.nom }}</h3>
          <p class="profession">{{ selCandidat.age }} ans</p>

          <p class="text-center">
            {{ selCandidat.profession }}
          </p>
        </div>
        <div class="footer">
          <button
            (click)="ajouterRecrue()"
            pButton
            pRipple
            label="Recruter"
            class="p-button-success"
          ></button>
          <button
            [routerLink]="[selCandidat._id]"
            pButton
            pRipple
            label="Details"
            class="p-button-info"
          ></button>
        </div>
      </div>
    </div>
    <!-- end front panel -->

    <!-- end back panel -->
  </div>
  <!-- end card -->
</div>
<!-- end card-container -->
