<input type="text" class="form-control" [(ngModel)]="selectedStatut" />
<br />
<ol class="list-group">
  @for (serv of tabServers | filter:selectedStatut; track $index) {
  <li [ngClass]="affecterClass(serv.statut)" class="list-group-item">
    {{ serv.nom | short : 14 }} | {{ serv.type | uppercase }} |
    {{ serv.date_d | date : "fullDate" | uppercase }}
    <span class="badge text-bg-secondary">{{ serv.statut }} </span>
  </li>

  }
</ol>

{{ p | async }}

<button (click)="addServer()" class="btn btn-primary">Add Server</button>
